<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367968736838-9a6ov7ncrrq242stqo4rul7u47sv571a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367968736838-9a6ov7ncrrq242stqo4rul7u47sv571a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>367968736838-0336liqvbvqrucf7ckrnbbjo4c1uin8f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_tOj265dQWIoU5nnMlqjTkcGLx9Lue44</string>
	<key>GCM_SENDER_ID</key>
	<string>367968736838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COM.SPIRITED.KUNJI</string>
	<key>PROJECT_ID</key>
	<string>kunjiapp-95c90</string>
	<key>STORAGE_BUCKET</key>
	<string>kunjiapp-95c90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367968736838:ios:2b421a817e9c2727031c47</string>
</dict>
</plist>